<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/dhtmlxscheduler_flat.css">
    <link rel="stylesheet" href="/styles/filemanager.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/react-select.min.css">
    <link rel="stylesheet" href="/styles/select2.css">
    <link rel="stylesheet" href="/styles/sweetalert2.css">
    <link rel="stylesheet" href="/styles/webix.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>


    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dhtmlxscheduler.js"></script>
    <script src="/js/dhtmlxscheduler_year_view.js"></script>
    <script src="/js/dhtmlxscheduler_units.js"></script>
    <script src="/js/dhtmlxscheduler_editors.js"></script>
    <script src="/js/locale_ru.js"></script>
    <script src="/js/webix.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/filemanager.js"></script>
    <script src="/audiojs/audio.min.js"></script>
    <script src="/js/sweetalert2.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/select2.js"></script>
    <script src="/js/ion.sound.min.js"></script>
    <script src="/js/assets/ViewerJS/compatibility.js"></script>
    <script src="/js/assets/ViewerJS/pdf.js"></script>
    <script src="/js/assets/ViewerJS/pdf.worker.js"></script>
    <script src="/js/assets/ViewerJS/pdfjsversion.js"></script>
    <script src="/js/assets/ViewerJS/text_layer_builder.js"></script>
    <script src="/js/assets/ViewerJS/ui_utils.js"></script>
    <script src="/js/assets/ViewerJS/webodf.js"></script>
    <script src="/js/assets/audiojs/audio.min.js"></script>
    <script src="/js/assets/js/bundle.js"></script>
    <script src="/js/assets/js/dependencies/sails.io.js"></script>
    <script src="/js/assets/js/dhtmlxscheduler.js"></script>
    <script src="/js/assets/js/dhtmlxscheduler_editors.js"></script>
    <script src="/js/assets/js/dhtmlxscheduler_units.js"></script>
    <script src="/js/assets/js/dhtmlxscheduler_year_view.js"></script>
    <script src="/js/assets/js/filemanager.js"></script>
    <script src="/js/assets/js/ion.sound.min.js"></script>
    <script src="/js/assets/js/jquery.js"></script>
    <script src="/js/assets/js/locale_ru.js"></script>
    <script src="/js/assets/js/nav.js"></script>
    <script src="/js/assets/js/select2.js"></script>
    <script src="/js/assets/js/sweetalert2.js"></script>
    <script src="/js/assets/js/webix.js"></script>
    <script src="/js/bundle.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
